/* CSS written by Gina Buzzetta */

/* Global Styles (Mobile First) */
body {
    display:grid;
    grid-template-columns:1fr;
    background-color:white;
}
@media screen and (min-width:600px) {
    body {
        grid-template-columns:1fr 1fr;
        background-color:tan;
    }
}
@media screen and (min-width:800px) {
    body {
        grid-template-columns:1fr 1fr 1fr;
        background-color: sienna;
    }
}